@media screen and (max-width: 1265px) {
  .rain-wind {
    flex-direction: column;
    gap: 8px !important;
  }

  .item {
    width: calc(50% - 0.5rem);
  }

  .sun-details > .d-flex,
  .moon-details > .d-flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 577px) {
  .scrolling {
    position: static;
  }
}

@media screen and (max-width: 500px) {
  .aside-top h2 {
    font-size: 2.5rem;
  }

  .aside-bottom {
    padding: 10px;
  }

  .container-fluid {
    padding: 10px !important;
  }

  .item {
    width: calc(50% - 0.5rem);
  }
  .air-quality h4,
  .sun-details h4,
  .moon-details h4,
  .humidity h4,
  .rain-details h4 {
    font-size: 1.5rem;
  }
  .aside-top p {
    font-size: 20px;
  }
  .rain-wind {
    flex-direction: column;
  }
  .sun-details > .d-flex,
  .moon-details > .d-flex {
    flex-direction: column;
  }

}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .scrolling {
    position: sticky;
  }

  .aside-top h2 {
    font-size: 3rem;
    font-weight: 500;
  }
  .aside-top p {
    font-size: 20px;
  }

  .aside-bottom .col-5 p {
    font-size: 14px;
  }
}

@media screen and (max-width: 820px) {
  .input-search{
    width: 50%;
  }

}

@media screen and (max-width: 620px) {
   .nav-title{
    order: 1;
  }

  .input-search{
    order: 3;
    width: 70%;
    margin: auto;
  }

  #locationBtn{
    order: 2;
  }
}

@media screen and (max-width: 400px) {
  .input-search{
    width: 100%;
  }

}


